/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

# generator-langular #
# dependencies
assets/vendor
node_modules
# development
public/angularapp
public/css
public/js
public/json
public/vendor
# production
public/angularapp.js
public/styles.css
public/vendors.js
# docs
api/docs
# cache
.tmp
# End generator-langular #
