body {
  padding: 1em 0;
}
.container {
  width: 900px;
}

.login-form {
  width: 320px;
  margin: 0 auto;
}

.common-panel {
  width: 400px;
  margin: 0 auto;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;
}